
#canvasContainer {
    width: 100%;
}

#defaultCanvas {
	display: block;
	margin: 0 auto;
}

#outerControls {
    width: 100%;
}

#controls {
	width: 80%;
	display: block;
	margin: 0 auto;
	margin-bottom: 15px;
}

#controls button {
	margin-right: 15px;
	background-color: rgb(50,50,50);
	border-color: rgb(70,70,70);
	color: rgb(200, 200, 200);

}

#sliders {
	width: 30%;
	display: inline-block;
	margin: 0 auto;
}

#sliders input {
	width: 40%;
	display: inline-block;
	margin-right: 15px;
}

body {
    background-color: rgb(20,20,20);
}

p {
	color: rgb(200,200,200);
}